*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #ffffff;
    --text-color: #111111;
    --main-color:#c8815f:
    --big-font: 4.5rem;
    --h2-font:3.3rem;
    --h3-font: 2rem;
    --normal-font: 1rem;
}
body{
    background: var(--bg-color  );
    color: var(--text-color);
}
header{
    width: 100%;
    height: 90px;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 14%;
    transition: all .35s ease;
}
.logo{
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--text-color);
}
.navlist{
    display: flex;
}
.navlist a{
    color: var(--text-color);
    font-weight: 00;
    padding: 10px 25px;
    font-size: var(--normal-font);
    transition: all .36s ease;

}
.navlist a:hover{
    color:#3fc6da;
}
.header-icons i{
    font-size:32px;
    color:var(--text-color);
    margin-right: 20px;
    transition: all .36s ease;
    
}
.container {
    background: rgb(68, 142, 179);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    border-radius: 20px;
  }
  
  .container .card {
    position: relative;
    min-width: 320px;
    height: 380px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
  }
  
  .container .card:nth-child(1) .box .content a {
    background: #2196f3;
  }
  
  .container .card:nth-child(2) .box .content a {
    background: #e91e63;
  }
  
  .container .card:nth-child(3) .box .content a {
    background: #23c186;
  }
  
  .container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .container .card .box:hover {
    transform: translateY(-50px);
  }
  
  .container .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
  }
  
  .container .card .box .content {
    padding: 20px;
    text-align: center;
  }
  
  .container .card .box .content .heading {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.1);
  }
  
  .container .card .box .content .content {
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
  }
  
  .container .card .box .content p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: 0.5s;
  }
  
  .container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgb(68, 142, 179);
    transition: 0.5s;
  }
  
  .container .card .box .content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
  }
  .spani{
    color: aqua;
}