* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 400px;
    background-image: url("pic1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

.headerregister {
    height: 200px;
 
    position: relative;

}
  .headerregister h1{
 
   font-size: 45px;
    font-family:'Pacifico';
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center; 
  }

  
  .regjistimi {
    background-color: #fff;
    width: 350px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);   
    display: flex;
  flex-direction: column;
  
    
  }

  .regjistimi h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10px;
  align-items: center;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  
  input
  {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  button[type="submit"] {
    background-color: #4c98af;
 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {

    background-color: #085168;
  }
  
  
  
  
  a {
    color: #1ea9d3;
  }

  .mbrapa {
    align-self: center;
    margin-top: 20px;
  }